DJANGO_SECRET_KEY=replace-with-secret-key
DEBUG=True

DB_NAME=lsa_booking_db
DB_USER=lsa_backend
DB_PASSWORD=replace-with-database-password
DB_HOST=localhost
DB_PORT=5432

PAYMENT_API_URL=http://127.0.0.1:8000/api/mock-payment/
PAYMENT_API_TIMEOUT=5
